<!DOCTYPE html>

<head lang="ru">
   <meta charset="UTF-8">
   <title>Authorization</title>
   <link rel="stylesheet" type="text/css" href="/public/stylesheets/style_auth.css">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="/public/javascripts/user_menu.js"></script>
   
</head>

<body>
   <form action="/" class="form_login" method="POST">
      <h3>Authorization</h3>
      <label for="log_username">Username</label>
      <input id="log_username" type="text" name="username" required>
      <label for="log_password">Password</label>
      <input id="log_password" type="password" name="password" required>
      <button class="but" id="but_reg" type="button">Register</button>
      <button class="but" id="login_bt" type="submit" onclick="">Log In</button>
   </form>
   <form action="/register" class="form_registration" method="POST">
      <h3>Register</h3>
      <label for="register_username">Username</label>
      <input id="register_username" type="text" name="username" required>
      <label for="register_password">Password</label>
      <input id="register_password" type="password" name="password" required>
      <label for="register_password_confirm">Retry password</label>
      <input id="register_password_confirm" type="password" name="passwordConfirm" required>
      <button class="but" id="but_log" type="button">Log In</button>
      <button class="but" id="register_bt" type="submit" onclick="">Register</button>
   </form>
</body>